.body-bg {
    background-color: darkcyan;
}

.container {
    background-color: lightskyblue;
    font-family: "Bookman Old Style", serif;
    text-align: center;
}

.login {
    background-color: cadetblue;
    font-family: "Bookman Old Style", serif;
    text-align: center;
    padding: 20px;
}

#fname {
    font-family: "Calibri Light", serif;
}

#lname {
    font-family: "Calibri Light", serif;
}